{{define "extra_head"}}{{end}}
{{define "nav"}}
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/privacy">Privacy</a></li>
{{end}}
{{define "content"}}

      <div class="row-fluid marketing">
          <h4>About OVDP</h4>
          <p>The Open Voice Data Project was started as a senior design
          project at the <a href="http://www.ku.edu">University of
          Kansas</a> <a href="http://www.engr.ku.edu">School of
          Engineering.</a> Our goal is to encourage and facilitate
          the creation of publically accessible dysphonia sample
          databases, supporting further research in the field.</p>
      </div>

{{end}}
{{define "extra_footer"}}{{end}}
{{template "base.html" .}}
